.taskInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.taskInput {
  width: 80%;
  max-width: 1000px;
  padding: 5px 5px 5px 10px;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  color: black;
  background-color: whitesmoke;
  border: 0.3px solid #444;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

/* スマホ用CSS */
@media screen and (max-width: 519px) {
  /* .taskInput {
    height: 20px;
    width: 88%;
    font-size: 10px;
  }
  .buttonArea .createButton {
    min-width: 0;
    padding: 6px 6px;
  }
  .createButton span {
    font-size: 6px;
  }
  .buttonArea {
    width: 12%;
  } */
  .taskInput {
    height: 25px;
    width: 100%;
    font-size: 13px;
  }
  .buttonArea {
    display: none;
  }
}
