.barStyle {
  font-family: 'Comic Neue', cursive;
  color: #e0f2f1 !important;
  background-color: #121212 !important;
  height: 8vh;
  max-height: 64px;
  min-height: 50px;
}

.menuItem {
  font-family: 'Comic Neue', cursive !important;
}

.loginUserName {
  color: #999;
  text-align: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 519px) {
  .userIcon {
    width: 35px !important;
    height: 35px !important;
    font-size: 1.1rem !important;
  }
}
