.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.listItem span {
  color: #999;
  font-size: 18px;
  font-family: 'Comic Neue', cursive;
  /* 追加 */
  width: 68%;
}
.taskIcon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #bbb;
  margin-right: 15px;
}
.cursor {
  cursor: pointer;
}
.buttonArea {
  display: flex;
  align-items: center;
}
