.taskInput {
  width: 88%;
  min-width: 250px;
  height: 30px;
  padding: 5px 10px 5px 5px;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  color: black;
  /* background-color: #333333; */
  background-color: whitesmoke;
  border: 0.3px solid #444;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/* .switch {
  display: block;
  text-align: center;
} */
.inputColor {
  color: white;
}
