@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

.containerTasks {
  background-color: #555555;
  padding: 30px;
}
.taskInputContainer {
  width: 60%;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.appTaskContainer {
  display: flex;
  justify-content: center;
}
.incompletedTasks {
  background-color: #292f38;
  width: 500px;
  min-width: 450px;
  min-height: 300px;
  padding: 30px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.completedTasks {
  background-color: #292f38;
  width: 500px;
  min-width: 450px;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
