.taskInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.taskInput {
  width: 80%;
  max-width: 1000px;
  padding: 5px 5px 5px 10px;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  color: black;
  background-color: whitesmoke;
  border: 0.3px solid #444;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}
